
$brand-orange: #fa8128;
$brand-accent: #d2a98e;
$brand-color--default: #086AD8;
$brand-color--two: $brand-accent;
$brand-color--three: #002FA6;
$brand-color--black: #333333;
$brand-color--gary: #5d5d5d;
$brand-color--green: #38cb89;
$brand-color-sub--heading: #6d70a6;
$transition--default: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);


@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap');
// Font Family
$font-family-name: 'Karla';

// Body
$body-bg: #f8fafc;
$im: !important;
$card-padding: 2rem;

// Typography
$font-family-sans-serif: 'Karla', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
$header-font: 36px;
$body-font: 14px;
$font-sm: 12px;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #ee3333;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$offwhite: #f8f8f8;
