.nk-sidebar {
    .nk-menu {
        &-item {
            &.active {
                background: linear-gradient(-48deg, $brand-color--green -30%, $brand-color--default 60%);
                border-radius: 24px;
                margin-left: 10px;
                margin-right: 10px;
                a, i {
                    color: $white;
                }
            }
        }
    }
}
