.btn {
    font-size: $font-sm;
    border-radius: 5px;
    border: none;
    padding: 7px 25px 8px !important;
    text-align: center;
    transition: all 0.4s ease-in-out;
    letter-spacing: 0;
    text-transform: uppercase;
    transform: translateY(0px);
    font-weight: bold;
    height: 45px;
    display: table-cell;

    &:hover, &:active, &:focus{
        color: $white;
        transform: translateY(-3px);
        outline: unset;
        box-shadow: unset;
    }

    &:disabled {
        background: $brand-color--gary;
        cursor: not-allowed;
    }

    &--primary {
        color: $white;
        background: $brand-color--default;
        &:hover {
            background: $brand-color--two;
        }
    }

    &--lg {
        height: 56px;
    }

    &--gradient{
        background: linear-gradient(-48deg, $brand-color--green  -30%, $brand-color--default 60%);
        color: $white;
        &:hover {
            background: linear-gradient(-48deg, $brand-color--default -30%, $brand-color--green 60%);
        }
    }

    &-icon {
        padding: 14px !important;
        font-size: 18px;
    }
}
