.form {
    &-wrapper {
        .form-input {
            @include media-breakpoint-down(sm) {
                width: 100%;
            }
        }
    }
    &-input {
        margin: 0 0 20px;
        & input , textarea , select, .custom-file-label, .select2-selection.select2-selection--multiple {
            display: block;
            width: 100%;
            color: #000;
            border-color: transparent;
            background-color: $offwhite;
            font-size: 15px;
            font-weight: 400;
            letter-spacing: 0;
            outline: none;
            border-radius: 5px;
            padding: 3px 20px;
            height: 56px;

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active{
                transition: background-color 5000s ease-in-out 0s;
            }
        }
        .custom-file-label {
            line-height: 3 $im;
            &:after {
                height: unset $im;
                font-size: 15px;
                line-height: unset $im;
            }
        }
        .select2-selection  {
            input {
                height: unset $im;
                width: 100% $im;
                margin-top: 12px $im;
                font-size: 15px $im;
                color: #000 $im;
                &::placeholder {
                    font-family: $font-family-name;
                }
            }
        }
        &  textarea {
            height: 150px;
            padding: 15px;
        }
        & select {
            color: #777;
        }
    }
}
