.sidebar {
    &-cart {
        &__img {
            height: 80px;
        }
    }
    &-menu-content {
        li {
            margin: 10px 0;
            a {
                color: $brand-color--gary;
                &:hover {
                    color: $brand-color--default;
                }
            }
        }
    }
}
