.text {
    &-primary {
        color: $brand-color--default $im;
    }
    &-accent {
        color: $brand-color--two $im;
    }
    &-gray {
        color: $brand-color--gary $im;
    }
    &-center {
        text-align: center;
        text-align: -webkit-center $im;
        text-align: -moz-center $im;
    }
    &-font-karla {
        font-family: $font-family-sans-serif;
    }
}
