@import url(https://fonts.googleapis.com/css2?family=Karla:wght@200;

300;400;500;600;700;800&display=swap);
.text-primary {
  color: #086AD8 !important;
}

.text-accent {
  color: #d2a98e !important;
}

.text-gray {
  color: #5d5d5d !important;
}

.text-center {
  text-align: center;
  text-align: -webkit-center !important;
  text-align: -moz-center !important;
}

.text-font-karla {
  font-family: "Karla", sans-serif;
}

.nk-sidebar .nk-menu-item.active {
  background: linear-gradient(-48deg, #38cb89 -30%, #086AD8 60%);
  border-radius: 24px;
  margin-left: 10px;
  margin-right: 10px;
}

.nk-sidebar .nk-menu-item.active a,
.nk-sidebar .nk-menu-item.active i {
  color: #fff;
}

.table .field-name {
  text-transform: uppercase;
  font-size: 12px;
  padding: 0.7rem !important;
  font-family: "Arial", sans-serif;
}

.table td {
  font-size: 14px !important;
}

.table th {
  font-size: 12px !important;
  text-transform: uppercase;
}

@media (max-width: 991.98px) {
  .table td {
    min-width: 150px;
  }

  .table td:first-child {
    min-width: unset;
  }
}

.status {
  display: inline-block;
  padding: 0 10px;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 30px;
  font-size: 10px;
}

.status-un-paid,
.status-unverified,
.status-inactive {
  color: #7e0a0a;
  background-color: #f69191;
}

.status-delivered,
.status-verified,
.status-active {
  color: #164a2c;
  background-color: #abe7c4;
}

.status-draft,
.status-awaiting-shipment {
  color: #2a2a2a;
  background-color: #aaaaaa;
}

.status-confirm,
.status-shipped {
  color: #42446b;
  background-color: #cccde0;
}

.status-pending {
  color: #c66609;
  background-color: #fde7d1;
}

.pagination {
  margin-top: 10px !important;
  float: right;
}

.pagination .page-item.active .page-link {
  z-index: 2;
  color: #fff;
  background-color: #086AD8;
  border-color: #dee2e6;
}

.pagination .page-item.disabled .page-link {
  color: #868e96;
  pointer-events: none;
  background-color: #fff;
  border-color: #5d5d5d;
}

.pagination .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  border-radius: 5px;
  color: #086AD8;
  background-color: #fff;
  border: unset !important;
}

.pagination .page-link:focus,
.pagination .page-link:hover {
  color: #0652a7;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #5d5d5d;
  box-shadow: unset !important;
}

.empty-state {
  min-height: 300px;
  padding: 30px 0 20px;
  text-align: center;
}

.empty-state.order {
  min-height: 0 !important;
  padding: 20px 0 20px;
}

.empty-state__icon {
  display: inline-block;
  width: 170px;
  height: 170px;
  margin: 0 auto;
  padding: 38px 0;
  font-size: 80px !important;
  line-height: 1;
  border-radius: 50%;
  border: 2px solid #5d5d5d;
}

.empty-state__icon.icon-grey {
  color: #999;
  border: 2px solid #ccc;
}

.empty-state__icon.icon-success {
  color: #38c172;
  border: 2px solid #38c172;
}

.empty-state__icon.icon-danger {
  color: #ee3333;
  border: 2px solid #ee3333;
}

.empty-state__description {
  font-size: 18px;
  line-height: 1.3333333;
  color: #666;
}

.btn {
  font-size: 12px;
  border-radius: 5px;
  border: none;
  padding: 7px 25px 8px !important;
  text-align: center;
  transition: all 0.4s ease-in-out;
  letter-spacing: 0;
  text-transform: uppercase;
  transform: translateY(0px);
  font-weight: bold;
  height: 45px;
  display: table-cell;
}

.btn:hover,
.btn:active,
.btn:focus {
  color: #fff;
  transform: translateY(-3px);
  outline: unset;
  box-shadow: unset;
}

.btn:disabled {
  background: #5d5d5d;
  cursor: not-allowed;
}

.btn--primary {
  color: #fff;
  background: #086AD8;
}

.btn--primary:hover {
  background: #d2a98e;
}

.btn--lg {
  height: 56px;
}

.btn--sm {
  padding: 5px 20px 6px !important;
}

.btn--secondary {
  border: 2px solid #d2a98e;
  background-image: none;
  color: #fff;
  background-color: #d2a98e;
}

.btn--secondary:hover {
  background-image: none;
  background: #d2a98e;
}

.btn--secondary-outline {
  color: #d2a98e;
  background: transparent;
  border: 2px solid #d2a98e;
}

.btn--secondary-outline:hover {
  background: #d2a98e;
  color: white;
}

.btn--black {
  color: #fff;
  background-image: none;
  background-color: #000;
}

.btn--black:hover {
  background-image: none;
  background: #000;
}

.btn--white {
  background-image: none;
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.07);
}

.btn--white:hover,
.btn--white:focus {
  background-image: none;
  background: #fff;
  color: #000;
}

.btn--gradient {
  background: linear-gradient(-48deg, #38cb89 -30%, #086AD8 60%);
  color: #fff;
}

.btn--gradient:hover {
  background: linear-gradient(-48deg, #086AD8 -30%, #38cb89 60%);
}

.btn--link {
  color: #086AD8;
}

.btn--link:hover {
  transform: translateY(-5px);
}

.btn-bottom-line {
  border: unset !important;
  border-bottom: 2px solid #5d5d5d !important;
  border-radius: 0 !important;
  color: #5d5d5d !important;
  padding: 27px 14px !important;
}

.btn-bottom-line.active {
  color: #d2a98e !important;
  border-bottom-color: #d2a98e !important;
}

.btn-bottom-line:hover {
  color: #fff !important;
  background-color: #d2a98e !important;
  border-bottom-color: #d2a98e !important;
}

.btn-text {
  color: #086AD8;
  font-size: 14px;
  font-weight: bold;
}

.btn-icon {
  padding: 5px !important;
  font-size: 18px;
}

@media (max-width: 767.98px) {
  .form-wrapper .form-input {
    width: 100%;
  }
}

.form-input {
  margin: 0 0 20px;
}

.form-input input,
.form-input textarea,
.form-input select,
.form-input .custom-file-label,
.form-input .select2-selection.select2-selection--multiple {
  display: block;
  width: 100%;
  color: #000;
  border-color: transparent;
  background-color: #f8f8f8;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  outline: none;
  border-radius: 5px;
  padding: 3px 20px;
  height: 56px;
}

.form-input input:-webkit-autofill,
.form-input input:-webkit-autofill:hover,
.form-input input:-webkit-autofill:focus,
.form-input input:-webkit-autofill:active,
.form-input textarea:-webkit-autofill,
.form-input textarea:-webkit-autofill:hover,
.form-input textarea:-webkit-autofill:focus,
.form-input textarea:-webkit-autofill:active,
.form-input select:-webkit-autofill,
.form-input select:-webkit-autofill:hover,
.form-input select:-webkit-autofill:focus,
.form-input select:-webkit-autofill:active,
.form-input .custom-file-label:-webkit-autofill,
.form-input .custom-file-label:-webkit-autofill:hover,
.form-input .custom-file-label:-webkit-autofill:focus,
.form-input .custom-file-label:-webkit-autofill:active,
.form-input .select2-selection.select2-selection--multiple:-webkit-autofill,
.form-input .select2-selection.select2-selection--multiple:-webkit-autofill:hover,
.form-input .select2-selection.select2-selection--multiple:-webkit-autofill:focus,
.form-input .select2-selection.select2-selection--multiple:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.form-input .custom-file-label {
  line-height: 3 !important;
}

.form-input .custom-file-label:after {
  height: unset !important;
  font-size: 15px;
  line-height: unset !important;
}

.form-input .select2-selection input {
  height: unset !important;
  width: 100% !important;
  margin-top: 12px !important;
  font-size: 15px !important;
  color: #000 !important;
}

.form-input .select2-selection input::-moz-placeholder {
  font-family: "Karla";
}

.form-input .select2-selection input:-ms-input-placeholder {
  font-family: "Karla";
}

.form-input .select2-selection input::placeholder {
  font-family: "Karla";
}

.form-input textarea {
  height: 150px;
  padding: 15px;
}

.form-input select {
  color: #777;
}

body {
  font-size: 1rem;
  background-color: #f8f8f8;
  font-family: "Karla", sans-serif !important;
}

a {
  color: #086AD8;
}

a:hover {
  text-decoration: none;
  color: #000;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: unset;
}

.ptb-260 {
  padding: 170px 0;
}

@media (min-width: 768px) {
  .ptb-260 {
    padding: 260px 0;
  }
}

.fs-26px {
  font-size: 26px;
}

.fs-48 {
  font-size: 30px;
}

@media (min-width: 1200px) {
  .fs-48 {
    font-size: 48px;
  }
}

.fs-38 {
  font-size: 38px;
}

@media (max-width: 767.98px) {
  .fs-38 {
    font-size: 30px;
  }
}

.fs-20 {
  font-size: 20px;
}

.fs-14 {
  font-size: 14px;
}

.lh-108 {
  line-height: 108px;
}

.mt-40 {
  margin-top: 40px;
}

.cursor-pointer {
  cursor: pointer;
}

.vht-100 {
  height: 100vh;
}

.error {
  color: #ee3333 !important;
  font-size: 13px;
}

.bd-0 {
  border-radius: 0;
}

p {
  font-family: "Karla", sans-serif;
}

.img-height {
  height: 64px;
}


